.banner_main {
    margin-top: 52px;
    height: 400px;
}
.banner_img {
    height: 100%;
    margin-left: 8px;
}
.banner_img_item {
    height: 50%;
}
.banner_img_item img {
    height: 98%;
    width: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
