/*HEADER*/
#header {
    position: relative;
    z-index: 40;
}
.navbar_main {
    padding: 10px 0;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 49px;
    position: absolute;
    top: 0;
    left: 25px;
}
.register-login {
}
.register-login > a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-text-white) !important;
    font-weight: 500;
}
.bi-bag-check {
    color: var(--color-main);
}
.navbar-nav .nav-item {
    margin-left: 15px;
}
.navbar-nav .nav-item > a {
    color: var(--color-text-white);
    text-transform: uppercase;
    font-size: 14px;
}
.dropdown-item-text {
    font-size: 14px !important;
    color: var(--color-main) !important;
}
.header_img_box {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 24px;
    border: 1px var(--color-main) solid;
    overflow: hidden;
    background-color: #dbdbdb;
}
.header_img_dish {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav_right .header_user {
    font-size: 18px;
    color: var(--color-white);
}
.nav_right .header_search {
    color: var(--color-white);
    position: relative;
}
.nav_right > .header_bell {
    color: var(--color-white);
    box-shadow: 0 0 0.25px #dbdbdb;
    position: relative;
    padding: 5px;
}
.header_bell > .header_bell_icon > span {
    position: absolute;
    top: -6px;
    left: 128px;
    font-size: 13px;
}
.header_bell > .header_bell_icon {
    font-size: 24px;
}
.header_infomation_order {
    /* position: absolute; */
    /* background-color: var(--color-while) !important; */
    /* box-shadow: 0 0 1px #333; */
    /* left: -400;
    right: 0;
    top: 23px; */
    padding: 20px 20px 5px 20px;
    /* border-radius: 5px; */
    /* display: none; */
    /* height: 70vh; */
    /* z-index: 50; */
}

.header_infomation_order::-webkit-scrollbar {
    display: none;
}

.infomation_order_items #header_img_order {
    width: 20%;
}
.infomation_order_items #header_img_order .header_img_oder_main {
    width: 70px;
    height: 70px;
    background-color: #dbdbdb;
    border-radius: 37px;
    overflow: hidden;
}
.header_img_oder_main img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header_name_dish_order {
    width: 40%;
}
.header_unitPrice {
    width: 15%;
}
.header_amount {
    width: 5%;
}
.header_X {
    width: 5%;
    opacity: 0.5;
}
.header_checkbox {
    width: 5%;
}
.header_delete {
    font-size: 14px;
    color: red;
    width: 10%;
}
.infomation_order_items {
    margin-bottom: 20px;
}
.infomation_order_items > div {
    color: var(--color-text-black);
}
.navbar {
    background-color: var(--color-main);
    border-radius: 18px;
    max-height: 66px;
}
.header_total {
    background-color: var(--color-main);
    padding: 10px 0;
    border-radius: 5px;
}
.header_total > button {
    border: none;
    background-color: var(--color-white);
    padding: 4px 8px;
    border-radius: 5px;
}
.checkAll_main {
    color: var(--color-text-black);
    margin-right: 6px;
    margin-bottom: 26px;
}
.header_total > span {
    color: var(--color-text-white);
}
.form_search {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    top: 23px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px #333;
    display: none;
    z-index: 50;
}
.form_search #header_from_search {
    width: 100%;
    padding: 6px;
    outline: none;
    margin-bottom: 15px;
    border: none;
    color: var(--color-main);
}
.form_search > button {
    background-color: var(--color-white);
    border: none;
    font-size: 14px;
    animation: blink 1s infinite;
}
.form_search #header_from_search::placeholder {
    font-size: 13px;
    color: var(--color-main);
}
.header_user_icon {
    position: relative;
    padding: 5px;
    display: none;
}
.header_information_user {
    position: absolute;
    background-color: var(--color-white);
    box-shadow: 0 0 1px #333;
    left: 28px;
    top: 0;
    width: 140px;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.header_information_item {
    list-style-type: none;
}
.header_information_item:hover {
    opacity: 0.6;
}
.header_information_item > a {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-main);
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }
}
@keyframes move {
    0%,
    100% {
        transform: translate(1px, 0px);
    }

    50% {
        transform: translate(0);
    }
}

.form_search.display {
    display: block;
}
.header_infomation_order.display {
    display: block;
}
.header_information_user.display {
    display: block;
}
.button_login {
    border: none;
    background-color: var(--color-main);
    color: var(--color-text-while);
    font-size: 15px;
}

.button_profile {
    font-size: 14px;
}
.button_profile:hover {
    background-color: #dbdbdb;
}
.button_logout {
    border: none;
    background-color: var(--color-white);
    font-size: 14px;
    color: red;
}
.button_profile > i {
    margin-right: 5px;
}

.button_logout > i {
    margin-right: 5px;
}
.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
    background-color: transparent !important;
    color: inherit !important;
}
.dropdown_menu_user {
    padding: 20px 5px 10px 5px;
}
