.banner_main {
    margin-top: 52px;
    height: 380px;
    display: flex;
}
.carousel-inner {
    /* border-radius: 30px; */
}
.banner_img {
    height: 100%;
    margin-left: 8px;
}
.banner_img_item {
    height: 50%;
    overflow: hidden;
}
.banner_img_item img {
    height: 98%;
    width: 100%;
    box-shadow: 0 0 1px var(--color-main);
    border-radius: 26px;
}

.carousel-item .banner_fit_img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.img_banner_dish {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.carousel-caption > p {
    background-color: rgba(0, 0, 0, 0.3);
}
